<% extend('layout') %>

    <form action="/tv/random" method="get">
      <input type="hidden" name="vote-min" id="input-vote-min">
      <input type="hidden" name="vote-max" id="input-vote-max">
      <input type="hidden" name="year-min" id="input-year-min">
      <input type="hidden" name="year-max" id="input-year-max">

      <section class="hero is-fullheight" style="background: #F5B700">
        <!-- <div class="hero-body"> -->
          <div class="container has-text-centered ">
            <div class="is-size-1 has-text-weight-bold">Chilly Flix</div>
            
            <div class="tabs is-centered is-size-5">
                <ul>
                  <li><a href="/movie">Movie</a></li>
                  <li class="is-active has-background-dark"><a>TV</a></li>
                </ul>
              </div>

            <div style="max-width: 250px; width: 100%;display: flex;margin: 3rem auto 0;justify-content: space-between;">
              <div class="is-size-5">Movie Rating</div>
              <div class="is-size-5">
                <span id="vote-min">7</span>
                <span>-</span>
                <span id="vote-max">10</span>
              </div>
            </div>
            <div id="vote-range" style="max-width: 250px; width: 100%; margin: 1rem auto"></div>



            <div style="max-width: 250px; width: 100%;display: flex;margin: 3rem auto 0;justify-content: space-between;">
                <div class="is-size-5">Movie Year</div>
                <div class="is-size-5">
                  <span id="year-min"><%= new Date().getFullYear() - 20 %></span>
                  <span>-</span>
                  <span id="year-max"><%= new Date().getFullYear() %></span>
                </div>
              </div>
              <div id="year-range" style="max-width: 250px; width: 100%; margin: 1rem auto"></div>

              <button type="button" class="button is-white" id="genre-toggle" style="margin-top: 2rem;">Pick Genres</button>
              <br>
              <div style="display:none;" id="genres">
                  <% tvs.forEach(tv => { %>
                    <div class="field">
                      <input class="is-checkradio" type="checkbox" name="genre[]" value="<%= tv.id %>" id="tv<%= tv.id %>">
                      <label for="tv<%= tv.id %>"><%= tv.name %></label>
                    </div>
                  <% }) %>
              </div>
              
             
              <button type="submit" class="button is-white" style="margin-top: 2rem;">Go!</button>
              <br><br>
          </div>
        <!-- </div> -->
      </section>

     
    </form>
    
    